<div class="pagination">
    <ul>
	<?php
	    echo $this->BootstrapPaginator->prev('<<');
	    echo $this->BootstrapPaginator->numbers();
	    echo $this->BootstrapPaginator->next('>>');
	?>
    </ul>
</div>